---
layout: style
---

/* Custom CSS can go here */

/* Coloured social media buttons. Colours taken from https://www.lockedowndesign.com/social-media-colors/ */
.social-buttons .facebook-a {
    background-color: #3b5998
}

.social-buttons .instagram-a {
    background-color: #c32aa3
}
.social-buttons .twitter-a {
    background-color: #1da1f2
}
.social-buttons .linkedin-a {
    background-color: #007bb5
}

.social-buttons .youtube-a {
    background-color: red;
}

.social-buttons .envelope-a {
    background-color: darkgoldenrod;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* Discoverable and more elegant team modal links */
a.team-member-link:hover,
a.team-member-link:focus,
a.team-member-link:active,
a.team-member-link.active {
	text-decoration-line: underline;
	text-decoration-color: darkgray;
}

/* Tier heading colours */
.tier-platinum {
    color: #CCC2C2
}

.tier-gold {
    color: #F6BA0E
}

.tier-silver {
    color: #A8A8A8
}

.tier-bronze {
    color: #965A38
}

header {
    box-shadow: inset 0px -10px 10px -10px black
}

#team-facts dt, dd {
    white-space: normal;
    margin-bottom: 0.5em
    /* line-height: 2 */
}

.portfolio-modal .close-modal {
    position: fixed;
    z-index: 1
}

.desc-cont {
    margin-bottom: 3em
}

.member-caption {
    margin-bottom: 10.5px
}

section#team [class*='col-'] {
    padding-left: 10px;
    padding-right: 10px
}

div.modal-hero + .visible-xs {
    background-image: url("img/uni-lake-1.jpg");
    background-size: cover;
    margin: 0px -35px 30px;
    padding: 1px 35px;
    color: white;
}

.sponsor-desc button.btn-xs {
    margin: 0 auto;
}

.sponsor-desc {
    margin-bottom: 30px;
}

img.img-sponsor-modal {
    margin-bottom: 10px;
    height: 50px;
    width: 200px;
}

@media(min-width: 768px) and (max-width: 991px) {
    /* Shrink navbar font to fit on iPad. Will require changing when adding or removing nav links */
    .navbar-default .nav li a {
        font-size: 14px; 
    }
}

#lang-xs {
    position: absolute;
    top: 0px;
    left: 12px;
}