---
layout: style
---

/* Custom CSS can go here */

/* Coloured social media buttons. Colours taken from https://www.lockedowndesign.com/social-media-colors/ */
.social-buttons .facebook-a {
    background-color: #3b5998
}

.social-buttons .instagram-a {
    background-color: #c32aa3
}
.social-buttons .twitter-a {
    background-color: #1da1f2
}
.social-buttons .linkedin-a {
    background-color: #007bb5
}

.social-buttons .youtube-a {
    background-color: red;
}

.social-buttons .envelope-a {
    background-color: darkgoldenrod;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* Discoverable and more elegant team modal links */
a.team-member-link:hover,
a.team-member-link:focus,
a.team-member-link:active,
a.team-member-link.active {
	text-decoration-line: underline;
	text-decoration-color: darkgray;
}

/* Tier heading colours */
.tier-platinum {
    color: #CCC2C2
}

.tier-gold {
    color: #F6BA0E
}

.tier-silver {
    color: #A8A8A8
}

.tier-bronze {
    color: #965A38
}

header {
    box-shadow: inset 0px -10px 10px -10px black
}

#sponsors-modal img {
    margin-bottom: 20px;
}