<!-- About Section -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">About Us</h2>
				<h3 class="section-description text-muted">
					Team Bath Racing Electric (TBRe) is a young, exciting and innovative student motorsport team based at the University of Bath. Each year, TBRe designs, builds and tests a single-seat, open-wheel race car to compete on an international stage at Silverstone at the renowned Formula Student competition.<br />
					Unlike many competitors, TBRe utilises a fully electric powertrain. For us, this is crucial to not only allow a level of mechanical and electrical innovation unachievable by traditional cars but also to stay relevant in an industry that is shifting irreversibly toward electric vehicles.<br />
					
					
				</h3>
			</div>
		</div>
		<div class="row text-center" style="margin-bottom:50px">
			<div class="col-md-4">
				<i class="fas fa-users fa-8x text-primary" data-fa-transform="shrink-8" data-fa-mask="fas fa-circle"></i>
				<h4 class="service-heading">Our Members</h4>
				<p class="text-muted">
					We are lucky to be made up of motivated and committed students from across our Mechanical and Electrical Engineering Departments, making our team truly cross-disciplinary and allowing students from any discipline to share and gain knowledge from the other to become a much more well-rounded engineer.
				</p>
			</div>
			<div class="col-md-4">
				<i class="fas fa-flag-checkered fa-8x text-primary" data-fa-transform="shrink-8" data-fa-mask="fas fa-circle"></i>
				<h4 class="service-heading">Our Achievements</h4>
				<p class="text-muted">
					Since our formation in 2014, TBRe has grown and developed at an astonishing rate. This summer we ranked as the top UK electric team at Formula Student. Now we will build on our success with a new design, optimised mechanically and electrically, to take to Silverstone and this year's further goal: Formula Student Germany.
				</p>
			</div>
			<div class="col-md-4">
				<i class="fas fa-gem fa-8x text-primary" data-fa-transform="shrink-8" data-fa-mask="fas fa-circle"></i>
				<h4 class="service-heading">Our Sponsors</h4>
				<p class="text-muted">
					Our project would not be possible without the kind support of our many sponsors. We work hard to provide a mutually beneficial relationship with each of our supporting organisations. This can range from simple promotion in our team media to close technical collaboration on some of the exciting and innovative aspects of our car. 
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sJQUZ6iEFAY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>
