<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '1953013801682223',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v2.12'
      });
    };
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_GB/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="fb-customerchat"
    page_id="1480074792275446"
    theme_color="#007ECE"
    logged_in_greeting="Want to get in touch with us via Facebook?"
    logged_out_greeting="Want to get in touch with us via Facebook?"
  >
  </div>