<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ul class="list-inline social-buttons">
					{% for network in site.social-icons %}
					<li><a target="_blank" href="{{ network.url }}" class="{{ network.title }}-a"><i class="fab fa-{{ network.title }}"></i></a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-md-6">
				<span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
			</div>
		</div>
	</div>
</footer>
