{% assign this_lang = site.active_lang %}
{% assign nav = site.data.nav %}
<!-- Google Tag Manager (noscript) -->
<!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MQLHTQD"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
	<!-- End Google Tag Manager (noscript) -->
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
			<noscript>
				<div class="alert alert-warning" role="alert" style="margin-bottom: 0">
					Please enable JavaScript.
				</div>
			</noscript>
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- Include TBRe Logo into header -->
				<a class="navbar-brand page-scroll" href="#page-top">
					<img style="max-width:271px; margin-top: -7px"
					src="{{ '/img/tbre-trans-logo.png' | relative_url }}" alt="Team Bath Racing Electric" class="img-reponsive"/>
				</a>
			</div>
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					{% for item in nav.sections %}
						<li {% if forloop.first %}class="hidden-sm"{% endif %}>
							<a class="page-scroll" href="{{ item.link }}">{{ item[this_lang] }}</a>
						</li>
					{% endfor %}
					<li class="dropdown">
						<a id="lang-link" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<span class="visible-xs-inline">Language</span>
							<i class="fas fa-language"></i>
						</a>
						<ul id="lang-list" class="dropdown-menu">
							{% for lang in site.languages %}
								{% unless lang == this_lang %}
									<li>
										<a href="
											{% if lang == site.default_lang %}
												/{{ site.baseurl }}
											{% else %}
												{{ site.baseurl }}/{{ lang }}
											{% endif %}
										">
											<span class="f16"><span class="flag {{ nav.alts[lang].flag }}"></span></span>
											{{ nav.alts[lang].name }}
										</a>
									</li>
								{% endunless %}
							{% endfor %}
						</ul>
					</li>
					</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<!-- Header -->
	{% assign header = site.data[this_lang].header %}
	<header>
		<div class="container">
			<div class="intro-text">
				<!-- <div class="intro-lead-in">Welcome To TBRe!</div> -->
				<div class="intro-heading">{{ header.tagline }}</div>
				<a href="#about" class="page-scroll btn btn-xl" style="top:100px">{{ header.button }}</a>
			</div>
		</div>
	</header>

		<!-- {% for page in site.pages %}
		  {% if page.title %}<a class="page-link" href="{{ page.url | relative_url }}">{{ page.title }}</a>{% endif %}
		{% endfor %} -->

