<!-- Blog posts Modals -->
{% for post in site.posts %}
	<div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<h2>{{ post.title }}</h2>
							<hr class="star-primary">
							<!--<img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">-->
							<p>{{ post.description }}</p>
							{{ post.content }}
							<ul class="list-inline item-details">
								<li>Client:
									<strong><a href="http://startbootstrap.com">{{ post.client }}</a>
									</strong>
								</li>
								<li>Date:
									<strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
									</strong>
								</li>
								<li>Service:
									<strong><a href="http://startbootstrap.com">{{ post.category }}</a>
									</strong>
								</li>
							</ul>
							<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}

<!-- Team Member Modals -->
{% for org_hash in site.data.orgs %}
	{% assign org = org_hash[1] %}
	{% for member in org.members %}
		<div class="modal fade" id="teamMember{{ member.pic }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">

						<h2>{{ member.name }}</h2>
						<p><i>{{ member.title }}</i></p>
						<hr class="star-primary">
						<img src="img/team/{{ member.pic }}.jpg" onerror="imgError(this);" class="img-responsive img-square img-centered" style="width: 100%;" alt="">
						<div style="margin-top:20px;">
							<table style="width:100%">
								{% for fact in member.facts %}
									<tr>
										<th>{{ fact.name }}</th>
										<td>{{ fact.info }}</td>
									</tr>
								{% endfor %}
							</table>
						</div>

						<div style="margin-top:20px; margin-bottom:20px">
							<ul class="list-inline social-buttons">
								{% for network in member.social %}
								<!-- TODO: Rearrange yaml template so this if condition isn't necessary -->
									{% if network.title=="envelope" %}
										{% assign prefix = "fas" %}
									{% else %}
										{% assign prefix = "fab" %}
									{% endif %}
									<li>
										<a target="_top" href="{{ network.url }}">
											<i class="{{ prefix }} fa-{{ network.title }}"></i>
										</a>
									</li>
								{% endfor %}
							</ul>
						</div>

						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endfor %}

<!-- Sponsors Modal -->
<div class="portfolio-modal modal fade" id="sponsors-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">

		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="modal-body">
					<h2>Meet Our Sponsors</h2>
					<hr class="star-primary"/>
					<img src="img/uni-lake-1.jpg" class="img-responsive img-centered" alt=""/>

					{% for sponsor in site.data.sponsors | sort: weighting %}
						<table>
							<tr>
								<td>
									<!-- TODO: add anchor to this id, when clicked on an image on the main page -->
									<a id="{{ sponsor.link }}"></a>
									<a href="{{ sponsor.link }}" target="_blank">
										<img src="{{ site.baseurl }}/img/sponsors/{{ sponsor.pic }}.jpg" width="200px" style="margin-top:20px"/>
									</a>
								</td>
								<td>
									{{ sponsor.description }}
								</td>
							</tr>
						</table>
					{% endfor %}
				</div>
				<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
			</div>
		</div>
	</div>
</div>
