<!-- Sponsors Aside -->
<section id="sponsors">
	<aside class="clients">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Our Stunning Sponsors</h2>
					<!--<h3 class="section-subheading text-muted">These are our sponsors who have been supporting TBRe!</h3>-->
				</div>
			</div>
			<div class="row">
				{% for image in site.static_files %}
					{% if image.path contains '/img/sponsors/' %}
						<div class="col-md-3 col-sm-6">
							<a href="#{{ image.name }}" id="{{ image.name }}">
								<img src="{{ image.path }}" class="img-responsive img-centered" alt="image"/>
							</a>
						</div>
					{% endif %}
				{% endfor %}
			</div>

			<div class="row">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-posts btn-lg" data-toggle="modal" data-target="#sponsors-modal">
					More information about our sponsors!
				</button>

				<!-- Modal -->
				<div class="portfolio-modal modal fade" id="sponsors-modal" tabindex="-1" role="dialog" aria-hidden="true">
					<!--<div class="modal-dialog modal-lg" role="document">-->
						<div class="modal-content">

							<div class="close-modal" data-dismiss="modal">
								<div class="lr">
									<div class="rl">
									</div>
								</div>
							</div>

							<div class="container">
								<div class="row">
									<div class="modal-body">
										<h2>Meet Our Sponsors</h2>
										<hr class="star-primary"/>
										<img src="img/uni-lake-1.jpg" class="img-responsive img-centered" alt=""/>

										<p style="margin-bottom: 60px;">
											<a id="1-fac-eng-bath-uni.jpg" style="position: relative;top: -110px;">&nbsp;</a>
											<a href="http://www.bath.ac.uk/elec-eng/" target="_blank">
												<img src="/img/sponsors/1-fac-eng-bath-uni.jpg" align="left" width="200px" style="margin-right: 20px;margin-top: 0px"/>
											</a>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in ante congue, volutpat nunc et, iaculis massa.
											Curabitur ut blandit diam. Nunc placerat erat id libero fringilla consequat. Phasellus diam urna, faucibus sit amet ornare id, pharetra a urna.
											In hac habitasse platea dictumst. In convallis feugiat dolor vel feugiat. Sed ac egestas ipsum, in eleifend urna.
										</p>

										<p style="margin-bottom: 60px;">
											<a id="2-brammer.jpg" style="position: relative;top: -110px;">&nbsp;</a>
											<a href="http://www.brammer.co.uk/" target="_blank">
												<img src="/img/sponsors/2-brammer.jpg" align="left" width="200px" style="margin-right: 20px;margin-top: 0px"/>
											</a>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in ante congue, volutpat nunc et, iaculis massa.
											Curabitur ut blandit diam. Nunc placerat erat id libero fringilla consequat. Phasellus diam urna, faucibus sit amet ornare id, pharetra a urna.
											In hac habitasse platea dictumst. In convallis feugiat dolor vel feugiat. Sed ac egestas ipsum, in eleifend urna.
										</p>

										<p style="margin-bottom: 60px;">
											<a id="3-creasefield.jpg" style="position: relative;top: -110px;">&nbsp;</a>
											<a href="https://www.creasefield.co.uk/" target="_blank">
												<img src="/img/sponsors/3-creasefield.jpg" align="left" width="200px" style="margin-right: 20px;margin-top: 0px"/>
											</a>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in ante congue, volutpat nunc et, iaculis massa.
											Curabitur ut blandit diam. Nunc placerat erat id libero fringilla consequat. Phasellus diam urna, faucibus sit amet ornare id, pharetra a urna.
											In hac habitasse platea dictumst. In convallis feugiat dolor vel feugiat. Sed ac egestas ipsum, in eleifend urna.
										</p>

									</div>
									<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
								</div>
							</div>
						</div>
					<!--</div>-->
				</div>

			</div>
		</div>
	</aside>
</section>
