<!-- Sponsors Aside -->
<section id="sponsors">
	<aside class="clients">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Our Stunning Sponsors</h2>
					<!--<h3 class="section-subheading text-muted">These are our sponsors who have been supporting TBRe!</h3>-->
				</div>
			</div>
			<div class="row">
				<!-- Organise sponsors by their weighting -->
				{% for sponsor in site.data.sponsors | sort: weighting %}
					<div class="col-md-3 col-sm-6">
						<a href="#{{ sponsor.name }}" id="{{ sponsor.name }}">
							<img src="/img/sponsors/{{ sponsor.pic }}.jpg" class="img-responsive img-centered" alt="image"/>
						</a>
					</div>
				{% endfor %}
			</div>

			<div class="row">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-posts btn-lg" data-toggle="modal" data-target="#sponsors-modal">
					More information about our sponsors!
				</button>
			</div>
		</div>
	</aside>
</section>
