<!-- Team Section -->
<section id="team">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Our Amazing Team</h2>
				<!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
			</div>
		</div>
		<div class="row">
			<!-- Loop over the yml pages in _data/orgs/ folder -->
			{% for org_hash in site.data.orgs %}

				<!-- Assign org to be the organisation name -->
				{% assign org = org_hash[1] %}
				<h3 align="center">{{ org.name }}</h3>

				<!-- Create row for all the members in the team -->
				<div class="row">

					<!-- Loop over members in the organisation -->
					{% for member in org.members %}
						<div class="col-sm-2">
							<div class="team-member">

								<!-- Check if the member has a photo, if not use default image -->
								{% capture author_photo %}{% file_exists img/team/{{ org.name }}/{{ member.pic }}.jpg %}{% endcapture %}

								<a href="#teamMember{{ member.pic }}" class="portfolio-link" data-toggle="modal">

									<!-- TODO: add something to happen when hovering over a picture -->
									<!--<div class="portfolio-hover">
										<div class="portfolio-hover-content">
											<i class="fa fa-plus fa-3x"></i>
										</div>
									</div>-->
									{% if author_photo == "true" %}
										<img src="img/team/{{ org.name }}/{{ member.pic }}.jpg" class="img-responsive img-square" alt="">
									{% else %}
										<img src="img/team/no-user-image.jpg" class="img-responsive img-square" alt="">
									{% endif %}
								</a>

								<h4>{{ member.name }}</h4>
								<p class="text-muted">{{ member.title }}</p>
								<!--<ul class="list-inline social-buttons">
									{% for network in member.social %}
									<li>
										<a href="{{ network.url }}">
											<i class="fa fa-{{ network.title }}"></i>
										</a>
									</li>
									{% endfor %}
								</ul>-->
							</div>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
		<!--<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
			</div>
		</div>-->
	</div>
</section>
