$color-primary: #007ECE;
$color-secondary: $color-primary;
$color-secondary-dark: #333;
$color-muted: #777;

$font-primary: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-secondary: "Droid Serif", "Helvetica Neue", Helvetica,Arial,sans-serif;

$header-image: url('/img/new_hero_image.jpg');